@import url(https://fonts.googleapis.com/css?family=Lato);

*,
*:before,
*:after {
  box-sizing: border-box;
}

#codepanion {
  border: 3px solid #343436;
}

#codepanion > .nc-icon {
  margin-right: 5px;
}

.cp_modal {
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 100%;
  padding: 5px 0;
  width: 75vw;
  color: #222;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
  transition: transform 0.15s, opacity 0.15s;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  z-index: 9999;
}

.cp_modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50vw;
  left: 50%;
  top: 70px;
  -webkit-transform: scale(0.9) translateX(-50%);
  -ms-transform: scale(0.9) translateX(-50%);
  transform: scale(0.9) translateX(-50%);
  min-width: 850px;
  max-width: 1150px;
  padding: 0;
  color: black;
  z-index: 201;
  font-size: 15px;
  font-family: 'Lato';
}

.cp_modal.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translateX(-50%);
  -ms-transform: scale(1) translateX(-50%);
  transform: scale(1) translateX(-50%);
}

.cp-half-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.cp-modal-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px !important;
  color: #222;
  overflow: auto;
}

.cp-modal-left h2 {
  font-family: 'Telefon', sans-serif;
  border-bottom: 3px solid #ccc;
  font-size: 2.0rem;
  padding-bottom: 5px;
  margin: 0;
}

.cp-modal-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  background: #f9f9f9;
  padding: 20px !important;
}

.dropdown {
  display: inline-block;
  position: fixed;
  margin-top: 5px;
  cursor: pointer; 
  font-family: 'Lato';
  font-size: 12px;
  width: 250px;
  height: 40px;
  overflow: hidden;
  -webkit-user-select: none;
  color: #444;
  z-index: 9999;

  transition: height 0.1s ease-in-out;
}

.dropdown .dropdown-top-bar {
  position: fixed;
  display: block;
  width: inherit;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background: #f9f9f9;
  border-bottom: 3px solid #0ebeff;
}

.dropdown .dropdown-top-bar > .nc-icon {
  display: inline-block;
  width: 16px; height: 16px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;

  transition: transform 0.1s ease-in-out;
}

.dropdown.dropdown-open .dropdown-top-bar > .nc-icon {
  transform: rotate(180deg);
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.dropdown ul li {
  display: block;
  height: 40px;
  width: inherit;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Lato';
  background: #fff;
}

.dropdown ul li:hover {
  background: #0ebeff;
  color: white;
}

.dropdown-open {
  height: 200px;
}

.branch-dropdown {
  width: 120px;
  right: 20px;
}

.file-browser {
  margin-top: 60px;
  width: 100%; 
  height: 400px;
  /*background: #f4f4f4;*/
}

.file-browser ul li {
  display: block;
  list-style: none;
  font-family: 'Lato';
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 13px;
}

.file-browser ul li:hover {
  background: #0ebeff;
  color: #fff;
}

.folder:hover:before {
  background-image: url('data:image/svg+xml;utf8,<svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"><g><path fill="#fff" d="M15,3H8.4L5.7,0.3C5.5,0.1,5.3,0,5,0H1C0.4,0,0,0.4,0,1v14c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1V4 C16,3.4,15.6,3,15,3z"></path></g></svg>');
}

.file:hover:before {
  background-image: url('data:image/svg+xml;utf8,<svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"><g><path fill="#fff" d="M15,15V5l-5-5H2C1.4,0,1,0.4,1,1v14c0,0.6,0.4,1,1,1h12C14.6,16,15,15.6,15,15z M3,2h6v4h4v8H3V2z"></path></g></svg>');
}

.folder:before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"><g><path fill="#0ebeff" d="M15,3H8.4L5.7,0.3C5.5,0.1,5.3,0,5,0H1C0.4,0,0,0.4,0,1v14c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1V4 C16,3.4,15.6,3,15,3z"></path></g></svg>');
}

.file:before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"><g><path fill="#666666" d="M15,15V5l-5-5H2C1.4,0,1,0.4,1,1v14c0,0.6,0.4,1,1,1h12C14.6,16,15,15.6,15,15z M3,2h6v4h4v8H3V2z"></path></g></svg>');
}