@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #ccc;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: #3a3f51;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
}

.sign-in {
  display: block;
  width: 100px;
  box-sizing: border-box;
  margin: auto 0.75rem;
  padding: 0.45rem;
  font-size: .75rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  background: #48bd2d;
  border-radius: 0.3rem;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.sign-in:hover {
  background-color: #198C19;
}

.sign-in:active {
  background-color: #198C19;
}

.head {
  width: 100%;
  display: block;
}

h1,
h3 {
  font-family: 'Roboto';
  text-align: center;
}

h1 {
  margin-top: 12px;
}

.container {
  height: 100%;
}

.middle_panel, #data_dump {
  width: 75%;
  min-height: 100%;
  margin: auto;
}

.app_info {
  margin: 12px auto;
  border: 0px solid red;
}

input {
  display: block;
  margin: 8px auto;
  width: 260px;
  height: 30px;
  padding: 4px 8px;
  font-family: 'Roboto';
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid #eee;
  border-radius: 5px;
}

#gh-commit-changes {
  display: block;
  width: 240px;
  box-sizing: border-box;
  margin: 0.5rem auto;
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  background: #48bd2d;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem #198C19;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#gh-commit-changes:active {
  -webkit-transform: translateY(0.125rem);
  -ms-transform: translateY(0.125rem);
  transform: translateY(0.125rem);
  box-shadow: 0 0.125rem #198C19;
}

.what_is_this {
  margin: 45px auto;
  width: 400px;
}

p,
ul li {
  font-family: 'Roboto';
  margin: 8px auto;
}

ul {
  list-style-position: inside;
}

.footer {
  width: 100%;
  display: block;
  margin: 8px auto;
  text-align: center;
}

.ga-ad {
  width: 600px;
  height: 120px;
  display: block;
  margin: 8px auto;
}