@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

h1,
h3 {
  font-family: 'Roboto';
  text-align: center;
}

h1 {
  margin-top: 8px;
}

.container {
  height: 100%;
}

.app_info {
  margin: 12px auto;
  border: 0px solid red;
}

input {
  display: block;
  margin: 8px auto;
  width: 260px;
  height: 30px;
  padding: 4px 8px;
  font-family: 'Roboto';
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid #eee;
  border-radius: 5px;
}

#gh-commit-changes {
  display: block;
  width: 240px;
  box-sizing: border-box;
  margin: 0.5rem auto;
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  background: #48bd2d;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem #198C19;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#gh-commit-changes:active {
  -webkit-transform: translateY(0.125rem);
  -ms-transform: translateY(0.125rem);
  transform: translateY(0.125rem);
  box-shadow: 0 0.125rem #198C19;
}

.what_is_this {
  margin: 45px auto;
  width: 400px;
}

p,
ul li {
  font-family: 'Roboto';
  margin: 8px auto;
}

ul {
  list-style-position: inside;
}

.footer {
  width: 400px;
  margin: 8px auto;
}

#ad_left_side,
#ad_right_side {
  position: absolute;
  height: 600px;
  width: 160px;
  background-color: blue;
}

#ad_left_side {
  top: 10px;
  left: 0;
}

#ad_right_side {
  top: 10px;
  right: 0;
}